<?xml version="1.0" encoding="utf-8"?>
<!--
  Legacy ASP.NET Web Forms configuration file. Intentionally kept close to
  what Visual Studio scaffolds for a .NET Framework 4.8 Web Forms + EF6
  project, since the structure here (system.web pipeline, config
  transforms, entityFramework section) is itself one of the things a
  migration to .NET 10 / ASP.NET Core has to account for.
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="ProductsContext"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Products.mdf;Initial Catalog=ProductsApp;Integrated Security=True;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Legacy toggle read via ConfigurationManager.AppSettings from code-behind. -->
    <add key="ProductsApp:LowStockThreshold" value="5" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="4096" executionTimeout="110" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Default.aspx" />
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="2880" />
    </authentication>
    <sessionState mode="InProc" timeout="20" cookieless="false" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"
           viewStateEncryptionMode="Always" enableViewStateMac="true" />
    <httpModules>
      <add name="RequestAuditModule" type="ProductsApp.RequestAuditModule" />
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RequestAuditModule" type="ProductsApp.RequestAuditModule" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
